<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
    <link rel="stylesheet" href="static/libs/uikit/css/uikit.min.css"/>
    <link rel="stylesheet" href="static/css/core.css"/>
    <script src="static/libs/uikit/js/uikit.min.js"></script>
    <script src="static/libs/uikit/js/uikit-icons.min.js"></script>
    <script src="static/libs/amcharts/amcharts.js"></script>
    <script src="static/libs/amcharts/serial.js"></script>
    <script src="static/libs/amcharts/amstock.js"></script>
    <script src="static/js/index.js"></script>
</head>
<body>
    <div id="data"
         data-speeds="{{ speeds }}"
         data-latencies="{{ latencies }}"
         data-targets="{{ targets | join(",") }}">

    <ul uk-tab>
        <li class="uk-active"><a href="">Latency</a></li>
        <li class="uk-active"><a href="">Speed</a></li>
    </ul>

    <ul class="uk-switcher uk-margin">
        <li>
            <div class="uk-container uk-container-large">
                <div class="uk-text-center" uk-grid>
                    {% for target in targets %}
                        <div class="uk-width-1-2">
                            <div class="uk-card uk-card-body latency-graph-container">
                                <span class="uk-label">{{ target }}</span>
                                <div class="latency-graph" id="target-{{ target }}"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </li>
        <li>
            <div class="uk-container uk-container-large">
                <div class="uk-text-center" uk-grid>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-body speed-graph-container">
                            <span class="uk-label">Network Speed</span>
                            <div class="speed-graph" id="speed"></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</body>
</html>
