<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
    <link rel="stylesheet" href="static/libs/uikit/css/uikit.min.css"/>
    <link rel="stylesheet" href="static/css/core.css"/>
    <script src="static/libs/uikit/js/uikit.min.js"></script>
    <script src="static/libs/uikit/js/uikit-icons.min.js"></script>
    <script src="static/libs/amcharts/amcharts.js"></script>
    <script src="static/libs/amcharts/serial.js"></script>
    <script src="static/libs/amcharts/amstock.js"></script>
    <script src="static/js/index.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
    <div id="data"
         data-start="{{ period_start }}"
         data-end="{{ period_end }}"
         data-speeds="{{ speeds }}"
         data-latencies="{{ latencies }}"
         data-targets="{{ targets | join(",") }}">

    <ul uk-tab>
        <li class="uk-active"><a href="">Latency</a></li>
        <li class="uk-active"><a href="">Speed</a></li>
    </ul>

    <div class="uk-text-center">
        <input id="period-range" type="text" placeholder="Report Period" readonly="readonly"
               class="flatpickr flatpickr-input active uk-input uk-form-width-large uk-form-small uk-text-center">
        <input id="max-latency" type="number" placeholder="Max Latency" step="10"
               class="uk-input uk-form-width-small uk-form-small uk-text-center">
        <button id="update-report-button" class="uk-button uk-button-secondary uk-button-small">Update</button>
    </div>

    <ul class="uk-switcher uk-margin">
        <li>
            <div class="uk-container uk-container-large">
                <div class="uk-text-center" uk-grid>
                    {% for target in targets %}
                        <div class="uk-width-1-2">
                            <div class="uk-card uk-card-body latency-graph-container">
                                <span class="uk-label">{{ target }}</span>
                                <div class="latency-graph" id="target-{{ target }}"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </li>
        <li>
            <div class="uk-container uk-container-large">
                <div class="uk-text-center" uk-grid>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-body speed-graph-container">
                            <span class="uk-label">Network Speed</span>
                            <div class="speed-graph" id="speed"></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</body>
</html>
